*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    background-color: gray;
}
.header{
    background-image: url("../images/ast4/cafe.webp");
    height: 500px;
    color: white;
}
.header img{
    width: 500px;
}
.container{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    float: none;
}
.container .logo{
    float: left;
    width: 30%;
}
.container .toplinks{
    float: left;
    width: 60%;
}
.container a{
    color: white;
}
.toplinks a{
    text-transform: uppercase;
}
.container img{
    width: 20px;
    height: 20px;
}
.container .advertisement{
    padding-top: 150px;
}
.advertisement h1 , p{
    text-align: center;
    text-transform: capitalize;
}
.button a{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid black;
    margin-left: 550px;
    margin-right: 550px;
}
.button{
    margin-top: 50px;
}
.box img{
    width: 250px;
    height: 250px;
}
.box{
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 50px;
    float: left;
}
.box p{
    text-align: left;
}
.read a{
    text-transform: uppercase;
    color: orange;
    background-color: gray;
    width: 80px;
    height: 20px;
    text-align: center;
}
.older{
    padding-left: 450px;
    padding-top: 50px;
    width: 500px;
}
.older a{
    color: black;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid black;
    text-decoration: none;
}
.links{
    float: left;
    padding-left: 350px;
    padding-top: 100px;
}
.links a{
    padding-left: 50px;
    color: black;
}
.link a{
    padding-left: 30px;
    color: black;
}
.link{
    float: left;
    padding-left: 400px;
    padding-top: 100px;
}
.last{
    float: left;
    padding-top: 50px;
    padding-left: 550px;
}
.last p{
    color: black;
}


